/* Arsenal Football Club Color Scheme */
body {
    background-color: #FFF;
    /* White background */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header Styles */
header {
    background-color: #EF3340;
    /* Arsenal Red */
    color: #FFF;
    /* White text */
    padding: 20px;
    text-align: center;
}

/*Image Style*/
img[src="./images/TheABC_v2.png"] {
    height: Auto;
    max-width: 100%;
}

img[src="./images/ABC Table_September 2023.png"] {
    height: Auto;
    max-width: 75%;
}

img[src="./images/DALL·E 2023-08-17 22.34.13 - photorealistic United Kingdom passport for Jim Media, the very British gentleman that looks like a young Harrison Ford dressed for business .png"] {
    height: Auto;
    max-width: 100%;
}

/* Navigation Menu Styles */
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    /* Black text */
    font-weight: bold;
}

/* Main Content Styles */
h1,
h2 {
    color: #EF3340;
    /* Arsenal Red */
}

/* Buttons */
.cta-button {
    background-color: #EF3340;
    /* Arsenal Red */
    color: #FFF;
    /* White text */
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.cta-button:hover {
    background-color: #B31B23;
    /* Darker Red */
}

/* Footer Styles */
footer {
    background-color: #EF3340;
    /* Arsenal Red */
    color: #FFF;
    /* White text */
    text-align: center;
    padding: 10px;
}

/* Add more custom styles as needed */